In [2]:
import pandas as pd
import numpy as np

# Challenge 1

In [3]:
data = pd.read_excel('/Users/anna/Desktop/ex.xlsx', index_col=0)
data

        Age  Absentions
Worker
1        27          15
2        61           6
3        37          10
4        23          18
5        46           9
6        58           7
7        29          14
8        36          11
9        64           5
10       40           8

In [4]:
data.plot.scatter(x='Age', y='Absentions', c='DarkBlue')

In [5]:
#Regression line

                   Age  Absentions
Age         215.211111  -57.700000
Absentions  -57.700000   17.788889

In [6]:
# Covariance

data[['Age', 'Absentions']].cov()

                   Age  Absentions
Age         215.211111  -57.700000
Absentions  -57.700000   17.788889

In [7]:
# Correlation

data[['Age', 'Absentions']].corr()

                 Age  Absentions
Age         1.000000   -0.932543
Absentions -0.932543    1.000000

In [ ]:
# Conclusions

#Covariance -57.7
#Correlation -0.93

# Challenge 2

In [41]:
data2 = pd.read_excel('/Users/anna/Desktop/ex2.xlsx')
data2t = data2.T
data2t

    0
x   y
1   1
3   2
4   4
6   4
8   5
9   7
11  8
14  9

In [42]:
# Covariance

data[['x', 'y']].cov()

KeyError: "['x' 'y'] not in index"

In [30]:
# Correlation

data[['x', 'y']].corr()

KeyError: "['x' 'y'] not in index"