In [3]:
import pandas as pd

In [4]:
ironbeers_df = pd.DataFrame({'X': [1,3,4,6,8,9,11,14], 'Y': [1,2,4,4,5,7,8,9]})

In [6]:
ironbeers_df

    X  Y
0   1  1
1   3  2
2   4  4
3   6  4
4   8  5
5   9  7
6  11  8
7  14  9

In [7]:
x_mean = sum(ironbeers_df['X'])/len(ironbeers_df['X'])

y_mean = sum(ironbeers_df['Y'])/len(ironbeers_df['Y'])

In [11]:
covariance_x_y = 0
for i in range(len(ironbeers_df['X'])):
    covariance_x_y += (1/(len(ironbeers_df['X'])))*(ironbeers_df['X'][i]-x_mean)*(ironbeers_df['Y'][i]-y_mean)
covariance_x_y

10.5